$background-color: #0f0f0f;
$text-color: white;
$disabled-text-color: rgb(189, 189, 189);

$interactive-background-color: rgb(31, 31, 31);
$interactive-border-color: #333333;

html,
body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
}

a {
  color: orange;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button,
select {
  &:hover {
    cursor: pointer;
    background-color: rgb(56, 56, 56);
  }
}

button,
input,
select {
  background-color: $interactive-background-color;
  color: $text-color;
  padding: 5px;
  border: 1px solid $interactive-border-color;
  border-radius: 5px;

  &:focus {
    outline: none;
    border: 1px solid #a3a3a3;
  }

  &:disabled {
    cursor: not-allowed;
    color: $disabled-text-color;
    background-color: $interactive-background-color !important;
  }
}

button {
  padding: 5px 10px 5px 10px;

  &:active {
    background-color: rgb(24, 24, 24);
  }
}

.text-center {
  text-align: center;
}
.hidden {
  visibility: hidden;
}

.container {
  margin-left: 3vw;
  margin-right: 3vw;
}

.margin-bottom {
  margin-bottom: 1vh;
}
